Repository taminomara/yuio: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-preamble, clk

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-check
        name: ruff check
        language: system
        entry: ruff check --force-exclude
        types_or: [python, pyi]
        require_serial: true
      - id: ruff-format
        name: ruff format
        language: system
        entry: ruff format --force-exclude
        types_or: [python, pyi]
        require_serial: true
      - id: check-preamble
        name: check that python files start with license comment
        language: system
        entry: scripts/check_file_headers
        types: [python]
        files: 'yuio/.*'
        exclude: '^(yuio/_dist/.*|yuio/_version.py)'
      - id: clk
        name: changelog keeper
        language: system
        entry: clk pre-commit-check
        require_serial: true
        types_or: [toml, yaml, markdown]
      - id: clk-tags
        name: changelog keeper (check tags)
        language: system
        entry: clk pre-commit-check-tag
        always_run: true
        pass_filenames: false
        require_serial: true
        stages: [pre-push]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        exclude: "^test/regression_data/.*$"
      - id: end-of-file-fixer
        exclude: "^test/regression_data/.*$"
      - id: fix-byte-order-marker
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: check-added-large-files
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-executables-have-shebangs
      - id: check-symlinks
      - id: destroyed-symlinks
      - id: check-vcs-permalinks

Try to fix strange zsh test failure in CI
  test/completers/conftest.py
  test/completers/test_fish.py
Due: none

Try to fix strange zsh test failure in CI 2
  test/completers/test_fish.py
Due: none

Try to fix strange zsh test failure in CI 3
  test/completers/test_fish.py
  test/completers/test_zsh.py
Due: none

Improve this crutch
  test/completers/test_zsh.py
Due: none

Plural and ordinal utilities
  CHANGELOG.md
  poe_tasks.toml
  test/test_string.py
  yuio/io.py
  yuio/string.py
Due: check-preamble, clk

Fixed file types in `yuio.ty`
  CHANGELOG.md
  yuio/ty.py
Due: check-preamble, clk

Added `yuio.git.Status.get_ongoing_operation`
  CHANGELOG.md
  yuio/git.py
Due: check-preamble, clk

Code style
  yuio/widget.py
Due: check-preamble

Update contributing
  CONTRIBUTING.md
Due: clk

Improve docs
  yuio/string.py
Due: check-preamble

Require test dependencies
  test/test_dbg.py
Due: none

Support lazy loading of subcommands
  CHANGELOG.md
  test/conftest.py
  test/test_app.py
  test/test_cli.py
  yuio/app.py
  yuio/cli.py
  yuio/dbg.py
  yuio/ext/sphinx/__init__.py
  yuio/ext/sphinx/autodoc.py
  yuio/ext/sphinx/domain.py
Due: check-preamble, clk

Improve error messages in configs
  yuio/config.py
Due: check-preamble

Add release command
  poe_tasks.toml
Due: clk

Ensure proper dedent for app help, usage, description
  yuio/app.py
  yuio/config.py
Due: check-preamble

Release 2.1.0
  CHANGELOG.md
Due: clk

Cleanup configs
  .coveragerc.toml
  .github/dependabot.yml
  pyproject.toml
  pytest.toml
  tox.toml
Due: clk

Update lock file
  uv.lock
Due: none

Group dependabot PRs
  .github/dependabot.yml
Due: clk

Fix help generation for positional-only app arguments
  CHANGELOG.md
  yuio/util.py
Due: check-preamble, clk

Release 2.1.2
  CHANGELOG.md
Due: clk

Release 2.1.1 (fix release tag)
  CHANGELOG.md
Due: clk

Add `yuio.ty.Pair`
  CHANGELOG.md
  yuio/ty.py
Due: check-preamble, clk

Small documentation fix
  yuio/string.py
Due: check-preamble

Update `__all__`.
  yuio/ty.py
Due: check-preamble

Sync uv.lock
  uv.lock
Due: none

Bump clk and others
  .github/workflows/ci.yaml
  pyproject.toml
  uv.lock
Due: clk

Release 2.2.0
  CHANGELOG.md
Due: clk

Fix issue with using `print` while in task
  CHANGELOG.md
  test/test_io.py
  yuio/io.py
Due: check-preamble, clk

Fix detecting system stackframes on linux
  CHANGELOG.md
  yuio/hl.py
Due: check-preamble, clk

Add operators to merge configs: `config1 | config2`
  CHANGELOG.md
  docs/source/by_example/configs.rst
  test/test_config.py
  yuio/config.py
Due: check-preamble, clk

Release 2.3.0
  CHANGELOG.md
Due: clk

Support parsing collections of configs
  CHANGELOG.md
  test/test_config.py
  test/test_utils.py
  yuio/config.py
  yuio/parse.py
  yuio/util.py
Due: check-preamble, clk

Fix code style
  test/test_utils.py
Due: none

Release 2.4.0
  CHANGELOG.md
Due: clk

Fix Json schema generation for `LenBound` parser
  CHANGELOG.md
  test/test_parse.py
  yuio/parse.py
Due: check-preamble, clk

Print links explicitly in CI
  CHANGELOG.md
  yuio/string.py
Due: check-preamble, clk

Cache CI detection
  test/conftest.py
  test/test_term.py
  yuio/term.py
Due: check-preamble

Add `merge_dicts_opt`
  CHANGELOG.md
  yuio/config.py
  yuio/util.py
Due: check-preamble, clk

Update uv lock
  uv.lock
Due: none
