Repository taminomara/yuio: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-preamble, clk

check-preamble:
  name: check that python files start with license comment
  language: system
  entry: scripts/check_file_headers

clk:
  name: changelog keeper
  language: system
  entry: clk pre-commit-check
  require_serial: true

eh...
  scripts/update_dist
Due: none

Add `MessageChannel` class
  docs/source/cookbook/print_to_file.rst
  docs/source/main_api/index.rst
  docs/source/main_api/util.rst
  examples/cookbook/print_to_file.py
  examples/git.py
  examples/theme.py
  test/test_complete.py
  test/test_io.py
  test/test_utils.py
  yuio/__init__.py
  yuio/app.py
  yuio/cli.py
  yuio/complete.py
  yuio/config.py
  yuio/ext/sphinx/autodoc.py
  yuio/io.py
  yuio/parse.py
  yuio/string.py
  yuio/term.py
  yuio/util.py
Due: check-preamble

Refactor task to move rendering logic from `IOManager` to a widget
  docs/source/cookbook/custom_tasks.rst
  docs/source/cookbook/index.rst
  examples/cookbook/custom_task.py
  test/test_io.py
  yuio/_dist/dsu.py
  yuio/io.py
  yuio/widget.py
Due: check-preamble

Update io docs
  CHANGELOG.md
  yuio/io.py
Due: check-preamble, clk

Update changelog
  CHANGELOG.md
Due: clk

Release 2.0.0-rc4
  CHANGELOG.md
Due: clk

Add jsonschema to dependabot config
  .github/dependabot.yml
Due: clk

Fix sphinx build
  yuio/io.py
Due: check-preamble

Fix crossref in docs
  docs/source/cookbook/custom_tasks.rst
Due: none

Release 2.0.0-rc5
  CHANGELOG.md
  test/conftest.py
  test/test_widget.py
Due: clk

Support hyperlinks in widgets
  CHANGELOG.md
  test/conftest.py
  test/test_widget.py
  yuio/io.py
  yuio/theme.py
  yuio/widget.py
Due: check-preamble, clk

Drop tmux test, it's flaky and doesn't work
  .github/dependabot.yml
  CONTRIBUTING.md
  pyproject.toml
  test/test_terminal_interactions.py
Due: clk

Fix tests
  pyproject.toml
Due: clk

Release 2.0.0
  CHANGELOG.md
Due: clk

Fixed rendering of Json Schema for dicts with string enum keys
  CHANGELOG.md
  yuio/json_schema.py
Due: check-preamble, clk

Bump Sphinx to 9.1
  docs/source/conf.py
  pyproject.toml
  test/test_json_schema.py
Due: clk

Add guide about generating config schemas
  docs/source/cookbook/generate_schema.rst
  docs/source/cookbook/index.rst
Due: none

Update link in example
  examples/app
Due: none

Fix tests
  docs/source/cookbook/generate_schema.rst
  test/test_config.py
  test/test_parse.py
Due: none

Release 2.0.1
  CHANGELOG.md
Due: clk

Add support for parsing literals
  CHANGELOG.md
  docs/source/by_example/parsers.rst
  examples/app
  test/test_parse.py
  yuio/parse.py
Due: check-preamble, clk

Improve wrapping in errors
  test/test_string.py
  yuio/app.py
  yuio/cli.py
  yuio/io.py
Due: check-preamble

Rearrange demo tape
  docs/source/_tapes/demo.tape
Due: none

Better widget for `Union` parser
  CHANGELOG.md
  yuio/parse.py
Due: check-preamble, clk

Add `yuio.io.shell`
  CHANGELOG.md
  examples/io_interactive_shell.py
  yuio/io.py
Due: check-preamble, clk

Tests for `yuio.io.detect_shell`
  examples/io_interactive_shell.py
  test/test_io.py
  yuio/cli.py
  yuio/io.py
Due: check-preamble

More test fixes
  test/test_io.py
  test/test_parse.py
  yuio/io.py
Due: check-preamble

Code style
  yuio/io.py
Due: check-preamble

Fix `yuio.io.shell` error in powershell 5
  yuio/io.py
Due: check-preamble

More documentation improvements
  docs/source/_static/extra.css
  docs/source/conf.py
  docs/source/index.rst
  pyproject.toml
  yuio/__init__.py
  yuio/git.py
Due: check-preamble, clk

Fix terminal gif sizes
  docs/source/by_example/cli.rst
  docs/source/by_example/hello_world.rst
  docs/source/by_example/interactive_things.rst
  docs/source/by_example/parsers.rst
  docs/source/by_example/themes.rst
  docs/source/cookbook/custom_tasks.rst
  yuio/io.py
  yuio/secret.py
  yuio/widget.py
Due: check-preamble

Bump sphinx-vhs
  pyproject.toml
Due: clk

Fix tests and docs
  docs/source/conf.py
  yuio/__init__.py
Due: check-preamble

Support positional-only arguments in apps
  CHANGELOG.md
  docs/source/by_example/cli.rst
  docs/source/by_example/hello_world.rst
  docs/source/conf.py
  docs/source/index.rst
  docs/source/main_api/util.rst
  examples/app
  examples/custom_completer
  examples/docs/cli_config.py
  examples/docs/cli_config_inline.py
  examples/docs/cli_parsers.py
  examples/docs/cli_settings.py
  examples/docs/cli_subcommands.py
  examples/docs/hw_flags.py
  examples/docs/hw_help.py
  pyproject.toml
  test/test_app.py
  test/test_config.py
  yuio/__init__.py
  yuio/app.py
  yuio/config.py
  yuio/ext/sphinx/__init__.py
  yuio/io.py
Due: check-preamble, clk

Migrate to UV
  .github/workflows/ci.yaml
  CHANGELOG.md
  poe_tasks.toml
  pyproject.toml
  scripts/update_dist
  test/test_deps/dbg_dep/pyproject.toml
  test/test_deps/dbg_hooks/pyproject.toml
  uv.lock
Due: clk

Fix CI (and drop pre-commit)
  .github/workflows/ci.yaml
  .pre-commit-config.yaml
  poe_tasks.toml
  pyproject.toml
  scripts/resolve_venv.sh
  uv.lock
Due: clk

Fix CI 2
  .github/workflows/ci.yaml
Due: clk

Fix CI 3
  poe_tasks.toml
Due: clk

I guess Fix CI again
  .github/workflows/ci.yaml
  poe_tasks.toml
Due: clk

Make CI less depressing
  .github/workflows/ci.yaml
  poe_tasks.toml
Due: clk

Path conditions:
  check-preamble: any of: yuio/.* and \.py$ and not (^(yuio/_dist/.*|yuio/_version.py))
  clk: any of: \.toml$, \.(yaml|yml)$, \.(md|markdown|mdown)$
