Repository taminomara/yuio: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-preamble, clk

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-check
        name: ruff check
        language: system
        entry: ruff check --force-exclude
        types_or: [python, pyi]
        require_serial: true
      - id: ruff-format
        name: ruff format
        language: system
        entry: ruff format --force-exclude
        types_or: [python, pyi]
        require_serial: true
      - id: check-preamble
        name: check that python files start with license comment
        language: system
        entry: scripts/check_file_headers
        types: [python]
        files: 'yuio/.*'
        exclude: '^(yuio/_dist/.*|yuio/_version.py)'
      - id: clk
        name: changelog keeper
        language: system
        entry: clk pre-commit-check
        require_serial: true
        types_or: [toml, yaml, markdown]
      - id: clk-tags
        name: changelog keeper (check tags)
        language: system
        entry: clk pre-commit-check-tag
        always_run: true
        pass_filenames: false
        require_serial: true
        stages: [pre-push]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        exclude: "^test/regression_data/.*$"
      - id: end-of-file-fixer
        exclude: "^test/regression_data/.*$"
      - id: fix-byte-order-marker
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: check-added-large-files
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-executables-have-shebangs
      - id: check-symlinks
      - id: destroyed-symlinks
      - id: check-vcs-permalinks

Fix JSON schema generation for dicts with annotated string keys
  CHANGELOG.md
  test/test_parse.py
  yuio/json_schema.py
Due: check-preamble, clk

Release 2.5.0
  CHANGELOG.md
Due: clk

Further fixes to how links are displayed in CI
  CHANGELOG.md
  test/test_string.py
  yuio/string.py
Due: check-preamble, clk

Release 2.5.1
  CHANGELOG.md
Due: clk

Fixed JsonSchema for enums when `to_dash_case` is enabled
  CHANGELOG.md
  yuio/parse.py
Due: check-preamble, clk

Remove transitive dependency on cl-keeper
  .github/dependabot.yml
  .pre-commit-config.yaml
  poe_tasks.toml
  pyproject.toml
  uv.lock
Due: clk

chore: sync uv.lock with prek 0.3.8 and ruff 0.15.9
  uv.lock
Due: none

prek: use uv run --no-sync, drop scripts/resolve_venv.sh
  .pre-commit-config.yaml
  scripts/resolve_venv.sh
Due: clk

Sync uv lockfile
  uv.lock
Due: none
